APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=staging
LOG_LEVEL=debug
LOG_SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
LOG_SLACK_USERNAME="Log Monitor"

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=flok-test
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=sync
SESSION_DRIVER=redis
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

AWS_CLOUDFRONT_KEY_ID=
AWS_CLOUDFRONT_PRIVATE_KEY=

PUBLIC_AWS_CLOUDFRONT_URL=
PUBLIC_AWS_S3_BUCKET=

PRIVATE_AWS_CLOUDFRONT_URL=
PRIVATE_AWS_S3_BUCKET=

SYMMETRICAL_ENCRYPTION_KEY=
ASYMMETRICAL_PRIVATE_KEY=
ASYMMETRICAL_PUBLIC_KEY=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
PAYSTACK_ALLOWED_IPS=52.31.139.75,52.49.173.169,52.214.14.220

FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_ENCRYPTION_KEY=

STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=

APPLE_PAY_SECRET_KEY=
APPLE_PAY_PUBLIC_KEY=
APPLE_API_URL=

FRONTEND_URL=http://localhost:3000/
BACKEND_URL=http://localhost:8000/
WEBSOCKET_URL=wss://staging-websocket.tryflok.com

JWT_SECRET=RQJhoD6HE41vRwNvJ1FgOmmoMJzlIiKS0CNk2JERe7rJ03agCGpoSV2RMmByFzXW
JWT_TTL=133920
JWT_REFRESH_TTL=null

GOOGLE_IOS_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID=
GOOGLE_WEB_CLIENT_ID=
FCM_SERVER_KEY=

AGORA_APP_ID=
AGORA_APP_CERTIFICATE=