/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.pem
/vendor
/depot_tools
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/mysql
/logs
**/*.DS_Store
/nginx-dev/logs
/nginx-staging/logs
/nginx-production/logs
flok_worker.out.log
flok_worker.err.log
php-fpm_stderr.log
php-fpm_stdout.log
websocket_stderr.log
websocket_stdout.log
cron_worker.err.log
cron_worker.out.log
/cron/logs/cron.log
**/*.DS_Store
